.CartItem{
    margin: 100px 170px ;
}
.CartItem hr{
height: 3px;
color: #e2e2e2;
border: 0;
}
.cartItem-formate-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    font-size: 18px;
    font-weight: 600;
    padding: 20px 0px ;
    color: #454545;
}
.cart-item-formate{
    font-size: 17px;
    font-weight: 600;
}
.carticon-product-item{
    height: 63px;
}
.cart-remove-btn{
    width: 15px;
    margin: 0px 40px;
    cursor: pointer;
}
.cart-itemQuantity{
    width: 64px;
    height: 64px;
    border: 2px solid #ebebeb;
    background: white;
    color: black;
    /* align-items: center; */

}
.cart-item-count{
    display: flex;
    margin: 100px 0px;
}
.cart-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cart-total-icons{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cart-total-icons button{
    width: 263px;
    height: 58px;
    border: none;
    outline: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.cart-item-promo{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cart-item-promo p{
    color: #555;
}
.cart-item-promoBox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.cart-item-promoBox input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    height: 50px;
    width: 330px;

}
.cart-item-promoBox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor:pointer;
}